<div class="container">
	<div class="row">
 	    <div class="card col-md-3">
 	      <img class="card-img-top" src="images/Lamara_Men's_Canvas_Casual_Shoes_Sneaker.jpg" alt="Card image cap">
 	      <div class="card-body">
 	        <h4 class="card-title">Card title</h4>
 	        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
 	        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
 	        <a  class="btn btn-primary">Go somewhere</a>
 	      </div>
 	    </div>
 	    <div class="card col-md-3 col-md-offset-1">
 	      <img class="card-img-top" src="images/Lamara_Men's_Canvas_Casual_Shoes_Sneaker.jpg" alt="Card image cap">
 	      <div class="card-body">
 	        <h4 class="card-title">Card title</h4>
 	        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
 	        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
 	        <a  class="btn btn-primary">Go somewhere</a>
 	      </div>
 	    </div>
	</div>
</div>